---
import "../styles/global.css";

import Man from "../layouts/Man.astro";
import ManSection from "../components/ManSection.astro";

const lastfmApiKey = process.env.LASTFM_API_KEY;
let recentTrack: {
    name: string;
    artist: string;
    album: string;
    url: string;
    nowPlaying: boolean;
    image: string | null;
} | null = null;

if (lastfmApiKey) {
    try {
        const res = await fetch(
            `https://ws.audioscrobbler.com/2.0/?method=user.getrecenttracks&user=taxborn&api_key=${lastfmApiKey}&format=json&limit=1`,
        );
        const data = await res.json();
        const track = data?.recenttracks?.track?.[0];
        if (track) {
            const mediumImage = track.image?.find(
                (img: { size: string; "#text": string }) =>
                    img.size === "large",
            );
            recentTrack = {
                name: track.name,
                artist: track.artist["#text"],
                album: track.album["#text"],
                url: track.url,
                nowPlaying: !!track["@attr"]?.nowplaying,
                image: mediumImage?.["#text"] || null,
            };
        }
    } catch {}
}
---

<Man title="home">
    <ManSection title="name" first={true}>
        <p>Braxton Fair - @taxborn online</p>
    </ManSection>

    <ManSection title="synopsis">
        <ul class="">
            <li>
                <a href="/uses">/uses</a> - the stuff I use day-to-day
            </li>
            <li>
                <a href="/now">/now</a> - what I'm up to lately
            </li>
        </ul>
    </ManSection>

    <ManSection title="socials">
        <ul class="list-disc list-inside">
            <li>
                <a href="https://bsky.app/profile/taxborn.com">@taxborn.com</a> on
                bluesky
            </li>
            <li>
                <a href="https://git.mischief.town/taxborn">@taxborn</a> on
                <a href="https://git.mischief.town/">my forgejo instance</a>
            </li>
            <li class="subtext">
                <a href="https://github.com/taxborn">@taxborn</a> on github, but it's
                mostly just a mirror of forgejo.
            </li>
        </ul>
    </ManSection>

    <ManSection title="description">
        <p>
            A 20-something software engineer at <a
                href="https://thomsonreuters.com">Thomson Reuters</a
            >. Working with Java, Spring, with a focus in the backend but
            sometimes working on frontend (MFEs, React). I've been programming
            for <a href="https://git.mischief.town/taxborn/ConnectU"
                >a bit over a decade</a
            >, but currently interested in Zig, atproto, and Nix.
        </p>
    </ManSection>

    {
        recentTrack && (
            <ManSection title="now playing">
                <p>
                    {recentTrack.nowPlaying
                        ? "Currently listening to"
                        : "Last listened to"}{" "}
                    <a href={recentTrack.url}>{recentTrack.name}</a> by{" "}
                    {recentTrack.artist}
                    {recentTrack.album && (
                        <>
                            {" "}
                            from <em>{recentTrack.album}</em>
                        </>
                    )}
                </p>
                <p class="subtext">
                    Data currently sourced from last.fm, hoping to pivot to
                    teal.fm once that opens up :)
                </p>
                {recentTrack.image && (
                    <img
                        src={recentTrack.image}
                        alt={`${recentTrack.album} album art`}
                        class="mt-2"
                    />
                )}
            </ManSection>
        )
    }
</Man>
