---
const { entry, idx } = Astro.props;

const splitIdx = entry.input.indexOf("/");
const username = entry.input.slice(0, splitIdx);
const nonce = entry.input.slice(splitIdx + 1);

const hash = entry.hash as string;

let leadingZeroes = 0;
for (let i = 0; i < hash.length; i++) {
  if (hash[i] != '0') break;

  leadingZeroes += 1;
}

let zeroes = hash.substring(0, leadingZeroes);
let rest = hash.substring(leadingZeroes);
---

<div class="font-mono border-2 border-white p-2 my-2 text-wrap">
  <h3 class="inline font-bold text-indigo-400">#{idx + 1}</h3>
  <p class="inline">
    Input: <a
      class="font-bold underline underline-offset-2"
      href=`/sha/search?username=${username}`>{username}</a
    >/<span class="text-gray-500">{nonce}</span>
  </p>
  <i class="text-sm"> - Submitted {entry.submitted.toISOString()}</i>
  <p class="text-ellipsis">Output: <span class="text-emerald-400">0x{zeroes}</span>{rest}</p>
</div>
