---
import { getCollection } from "astro:content";

import BlogLayout from "../../layouts/BlogLayout.astro";

export async function getStaticPaths() {
  const notes = await getCollection("notes");
  return notes.map((note) => ({
    params: { slug: note.slug },
    props: { note },
  }));
}

const { note } = Astro.props;
const { Content } = await note.render();
---

<BlogLayout title={note.data.title}>
  <section class="my-8">
    <h1 class="mb-1">{note.data.title}</h1>

    <i
      >Posted <abbr title={note.data.created.toISOString()}
        >{note.data.created.toLocaleDateString()} at {
          note.data.created.toLocaleTimeString()
        }</abbr
      ></i
    >

    <ul class="my-2">
      {
        note.data.tags.map((tag) => (
          <li class="inline bg-black px-3 py-0.5 rounded-lg text-white mr-2">
            <a
              href={`/notes/tag/${tag}`}
              class="text-white no-underline font-sans text-md font-bold"
            >
              {tag}
            </a>
          </li>
        ))
      }
    </ul>
  </section>

  <Content />
</BlogLayout>
